/* FONTS //////////////////////////////////////////////// */

@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	font-style: normal;
    src: url('fonts/Montserrat.ttf');
    src: url('fonts/Montserrat.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Medium';
	font-weight: medium;
	font-style: medium;
    src:
				url('fonts/Montserrat-Medium.ttf') format('woff');
}

@font-face {
	font-family: 'Montserrat-bold';
	font-weight: bold;
	font-style: bold;
    src: url('fonts/Montserrat-Bold.ttf');
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-italic';
	font-weight: bold;
	font-style: bold;
    src: url('fonts/Montserrat-RegularItalic.ttf');
    src: url('fonts/Montserrat-RegularItalic.ttf') format('truetype');
}
