/*
  STYLE GUIDE STYLING
  Default styling for the style guide

  All code has been coded by Justine Zhang.
  Resources have been referred to from W3Schools, CSS Tricks, and Helmine Serban's 339 Lecture slides.

*/
@import "fonts.css";
@import url("fonts.css");


@import url("fonts.css");
@import "fonts.css";

*{
  box-sizing: border-box;
}


/* NAVIGATION */ /* ////////////////////////////////////////////////////////////// */

#NutHut {
  float: left;

  padding-top: 0;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 3em;
  color: white;
}


header{
  width: 100%;
  position: fixed;
  background-color: #6e4c29;
  height: 3rem;
  z-index: 99999;
}


nav {

  float: left;
  top: 0;
  margin: 0;

}

nav ul {
float: left;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;

}

nav ul li {
  float: left;
  clear: none;
  display: inline-block;
}

nav ul li a{
  float: left;
  padding: 14px 16px;

}


nav ul li a:active, nav ul li a:hover, nav ul li a:focus {
  background-color: #faa446;
  color: white;

  text-decoration: none;
  transition: 0.7s;
  transition-duration: 0.7s;
}

.hide {
  -webkit-appearance: none;
}

@media only screen and (max-width: 746px){
/*#nav-bar li a{
  visibility: hidden;
} */

header{
  width: 100%;
  height: 3rem;
  padding: 0;
  z-index: 99999;
}

nav {
  display: none;
}

#hamburger{
  float: right;
  margin-top: 0.75em;
	margin-right: 1em;
	content: url(../images/hamburger.png);
	display: block;
	width: 2rem;
	height: 2rem;

}

#hamburger:checked {
  float: right;
  margin-top: 0.75em;
	margin-right: 1em;
	content: url(../images/x-button.png);

}

#hamburger:checked ~ nav{
  background-color: #6e4c29;
  position: relative;
  left: 0;
  width: 100%;
	display: list-item;
	margin-left: 0px;
  margin-top: 0;
	overflow: hidden;
	z-index: -1;
}

#hamburger:checked ~ nav ul li {
  clear: left;
}

#hamburger:checked ~ nav ul:hover, nav ul:hover, nav ul:focus {

}

#hamburger:checked ~ nav ul li a:active, nav ul li a:hover, nav ul li a:focus {
  background-color: #faa446;
left: 0;
  color: white;
width: 100%;
  text-decoration: none;
  transition: 0.7s;
  transition-duration: 0.7s;
}






}

/* BODY CONTAINER ////////////////////////////////////////////////////////////// */

.container {
  position: relative;
    content: "";
  min-height:700px;
  width: 100%;
}

body {
  position: relative;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #51361d;
  background-color: #fcfcfc; /*off-white colour*/
}



/* COLUMNS ////////////////////////////////////////////////////////////// */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;

}

.column2 {
  float: left;
  width: 50%;

}

@media only screen and (max-width: 746px){
  .column1{
    width: 100%;
  }

  .column2{
    width: 100%;
  }
}





/* SECTION ELEMENTS////////////////////////////////////////////////////////////// */


section::before{
    clear:both;
    display:block;
    content:""; /*don't forget this empty space */
}

.guide_elements{
  clear:both;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
}

.form-text {
  color: #e98300;
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
}

.element .text:focus, textarea:focus{
  box-shadow: 0 0 5px rgba(0, 255, 0, 1);
   padding: 1px 0px 1px 1px;
   margin: 1px 1px 1px 0px;
   border: 1px solid rgba(0, 255, 0, 1);
}

.element .text:hover, .element .text:active{
  transition: .3s ease-in-out;
}

/* TEXT ELEMENTS////////////////////////////////////////////////////////////// */

a{
  color: #e98300;
  text-decoration: none;
}

a:hover {
  color: black;
  transition: 0.5s;
  transition-duration: 0.5s;
}

h1 {
margin: 0;
padding-left: 2rem;
padding-top: 3rem;
font-size: 4rem;
  color: #51361d;
}

h2 {
  color: #51361d;
}

h3 {
  color: #51361d;
  font-style: italic;
  margin-top: 1rem;
}

h4, h5 {
  color: #51361d;
  margin-bottom: 0.25rem;
}

p, ol, ul {
  margin-top: 0;
}

#total {
  text-align: right;
}

#bold {
  font-family: "Montserrat-bold";
}

#italic {
  font-family: "Montserrat-italic";
}

.Greyscale img{
  position: relative;

  filter: grayscale(50%);
  transition: .3s ease-in-out;
}

.Greyscale:hover img{
  filter:grayscale(0);

}

/* FOOTER ////////////////////////////////////////////////////////////// */

footer {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 1rem;
  margin-left: 4rem;
  bottom:0;
  position: static;
  clear: both;
}

footer li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

/* BUTTON ELEMENTS ////////////////////////////////////////////////////////////// */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #689AEA;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

.add-to-cart {
  background-color: #e98300;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* IMAGES SECTION////////////////////////////////////////////////////////////// */


figure {
  width:100%; /*container-width*/
  overflow:hidden; /*hide bounds of image */
  margin:0;   /*reset margin of figure tag*/
}

figure img {
  display:block; /*remove inline-block spaces*/
  width:100%; /*make image stretch*/
}

.img-with-text {
    text-align: center;
    width: 30%;
    padding:10px;
    float:left;
    position:relative;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    min-width:75%;
}

.img-with-text p{
  padding: 10px;
  margin: 0;
}

/* RADIO AND INPUT ////////////////////////////////////////////////////////////// */


.radio-section input[type="radio"] + label {

}

.radio-section input[type="radio"]:checked + label{
      color:#e98300;
}


input[type=button], input[type=submit], input[type=reset]{
  background-color: #e98300;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;

}

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus{
  outline: none;
  background-color: red;
}

/* CODE SECTION ////////////////////////////////////////////////////////////// */

code {
  background-color: #333333;
  color: white;
  padding: 0.5rem;
  display: block;
}
